<form class="add-book">
  <input type="submit" class="btn-sm btn-success" value="Add">
  <b><%= book.title %></b> <i>by <%= book.author %></i>

  <input type="hidden" name="book[id]" value="<%= book.id %>">
  <input type="hidden" name="book[title]" value="<%= book.title %>">
  <input type="hidden" name="book[author]" value="<%= book.author %>">
</form>
