<form class="add-book">
  <% if (isAddable) { %>
    <button type="submit" class="btn-xs btn-success add-book-btn">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  <% } %>

  <b><%= book.title %></b> <i class="small">by <%= book.author %></i>

  <input type="hidden" name="book[id]" value="<%= book.id %>">
  <input type="hidden" name="book[title]" value="<%= book.title %>">
  <input type="hidden" name="book[author]" value="<%= book.author %>">
</form>
